.comment {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 13px;
  line-height: 140%;

  border-radius: 20px;
  border: 1px solid #bfbfbf;
  padding: 10px 20px;
}

.comment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: -2px;
}

.comment-info {
  display: flex;
  align-items: center;
}

.comment-creator-name {
  font-weight: bold;
  margin-right: 5px;
  font-size: 14px;
}

.comment-created-time {
  font-size: 13px;
  color: #8a8a8a;
}

.comment-actions {
  align-self: flex-end;
}

.comment-action-button {
  cursor: pointer;
  margin-left: 5px;
  color: #8a8a8a;
  transition: color .2s;
  font-size: 20px;
}

.comment-action-button:hover {
  color: black;
}

.comment-content {
  white-space: pre-line;
  margin-left: -2px;
  margin-bottom: 5px;
  margin-top: -5px;
}

.comment-content.editing {
  margin: 13px -2px 13px;
  padding: 15px 18px;
  border-radius: 10px;
  background-color: #f3f3f3;
}
.comment-content.editing:focus-visible {
  outline: 0;
}
.comment-edit-button {
  margin-right: 10px;
  margin-bottom: -2px;
}
