<div class="container">
  <div class="item" class="users" class="users-number">
    <span class="number">{{ this.stats.numberOfUsers }}</span
    ><span class="text"> USERS</span>
  </div>
  <div class="item">
    <div class="events">EVENTS</div>
    <canvas
      baseChart
      [data]="doughnutChartData"
      [labels]="doughnutChartLabels"
      [chartType]="doughnutChartType"
    >
    </canvas>
  </div>
</div>

<mat-form-field class="example-chip-list" appearance="fill">
  <mat-label>Categories</mat-label>
  <mat-chip-list #chipList aria-label="Category selection">
    <mat-chip
      *ngFor="let category of categories"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(category)"
    >
      {{ category.name }}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="New category..."
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-list>
</mat-form-field>
