.menu-spacer {
  flex: 1 1 auto;
}
.space {
  margin-right: 1em;
}

.menu-item {
  margin-left: 2em;
  margin-right: 2em;
}

.SEP-button {
  color: #fff;
  padding: 0;
}

.authenticated-wrapper {
  display: flex;
  align-items: center;
}

.nav-user {
  margin-right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;

  background: white;
  color: black;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}
