<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button *ngIf="authenticated">
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <a [routerLink]="'/'">
      <button mat-button class="SEP-button">
        SEP <mat-icon>today</mat-icon>
      </button>
    </a>

    <span class="menu-spacer"></span>
    <div *ngIf="!authenticated">
      <span class="menu-spacer"></span>
      <a mat-flat-button [routerLink]="'/login'"> Login </a>
      <span class="space"></span>
      <a mat-flat-button [routerLink]="'/sign-up'"> Sign Up </a>
    </div>

    <div class="authenticated-wrapper" *ngIf="authenticated">
      <div class="nav-user">
        <mat-icon>perm_identity</mat-icon>
      </div>

      <a mat-flat-button [routerLink]="'/'" (click)="logout()">Logout</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/events'"
      ><mat-icon>view_list</mat-icon>
        <div class="menu-item">Events</div>
      </a>
      <a mat-list-item [routerLink]="'/calendar'"
      ><mat-icon>date_range</mat-icon>
        <div class="menu-item">Calendar</div>
      </a>
      <a mat-list-item [routerLink]="'/my-events'"
      ><mat-icon>home</mat-icon>
        <div class="menu-item">My Events</div>
      </a>

      <a mat-list-item [routerLink]="'/create-event'"
      ><mat-icon>add_circle</mat-icon>
        <div class="menu-item">Create Event</div>
      </a>

      <a mat-list-item [routerLink]="'/new-events'" *ngIf="isAdmin">
        <mat-icon> library_add_check </mat-icon>
        <div class="menu-item">New Events</div>
      </a>

      <a mat-list-item [routerLink]="'/statistics'" *ngIf="isAdmin">
        <mat-icon>analytics</mat-icon>
        <div class="menu-item">Analytics</div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
