.example-right-align {
  text-align: right;
}

.vertical-space {
  margin-top: 100px;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.example-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.example-form {
  min-width: 150px;
  max-width: 600px;
  width: 95%;
}

.example-full-width {
  width: 95%;
  max-width: 600px;
}

.example-half-width {
  width: 47%;
  min-width: 150px;
}

mat-form-field {
  margin-left: 1em;
}

.example-card {
  max-width: 150px;
  min-height: 100px;
  margin: 1em;
}

.image-selector {
  display: flex;
  align-items: center;
}
