<form [formGroup]="event" class="example-container">
  <h1>Create Event</h1>

  <div class="example-form">

    <div class="form_group--wrapper">
      <mat-form-field appearance="fill" class="example-half-width">
        <mat-label>Event Name</mat-label>
        <input matInput required id="name" type="text" formControlName="name" />
        <button mat-icon-button matSuffix>
          <mat-icon>celebration</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="fill" class="example-half-width">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">

          <mat-option *ngFor="let category of categories; let i = index" value="{{ i }}">{{category.name}}</mat-option>

        </mat-select>
        <button mat-icon-button matSuffix>
          <mat-icon>category</mat-icon>
        </button>
      </mat-form-field>

    </div>
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Location</mat-label>
      <input
        matInput
        required
        id="location"
        type="text"
        formControlName="location"
      />
      <button mat-icon-button matSuffix>
        <mat-icon>location_on</mat-icon>
      </button>
    </mat-form-field>

    <div class="form_group--wrapper">
      <mat-form-field color="accent" appearance="fill" class="example-half-width">
        <mat-label>Start Date Time</mat-label>
        <input matInput [ngxMatDatetimePicker]="pickerStart" placeholder="Choose a date" formControlName="startDateTime">
        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #pickerStart>
        </ngx-mat-datetime-picker>
      </mat-form-field>

      <mat-form-field color="accent" appearance="fill" class="example-half-width">
        <mat-label>End Date Time</mat-label>
        <input matInput [ngxMatDatetimePicker]="pickerEnd" placeholder="Choose a date" formControlName="endDateTime">
        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #pickerEnd>
        </ngx-mat-datetime-picker>
      </mat-form-field>
    </div>


    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        id="description"
        type="text"
        formControlName="description"
      ></textarea>
    </mat-form-field>
  </div>
  <h3>Cover Image</h3>
  <div class="image-selector">
    <mat-card class="example-card" [class.selected]="'/assets/event1.jpg' === event.getRawValue().imageSrc">
      <img mat-card-image src="/assets/event1.jpg"/>
      <mat-card-actions>
        <button mat-button (click)="changeImage('/assets/event1.jpg')">
          Select
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card" [class.selected]="'/assets/event2.jpg' === event.getRawValue().imageSrc">
      <img mat-card-image src="/assets/event2.jpg"/>
      <mat-card-actions>
        <button mat-button (click)="changeImage('/assets/event2.jpg')">
          Select
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card" [class.selected]="'/assets/event3.jpg' === event.getRawValue().imageSrc">
      <img mat-card-image src="/assets/event3.jpg"/>
      <mat-card-actions>
        <button mat-button (click)="changeImage('/assets/event3.jpg')">
          Select
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <input
    #csvInput
    hidden="true"
    type="file"
    onclick="this.value=null"
    (change)="csvInputChange($event)"
    accept=".jpg"
  />
  <button class="select-image-custom" mat-button (click)="csvInput.click()">Upload Custom Image</button>

  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>Attendees</mat-label>
    <mat-chip-list #chipList aria-label="attendee selection">
      <mat-chip
        *ngFor="let attendee of attendees"
        [selectable]="true"
        [removable]="true"
        (removed)="removeAttendee(attendee)"
      >
        {{ attendee }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="New attendee..."
        #attendeeInput
        [formControl]="attendeeCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="ATTENDEE_SEPARATOR"
        (matChipInputTokenEnd)="addAttendee($event)"
      />
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selectAttendee($event)"
    >
      <mat-option
        *ngFor="let attendee of filteredAttendees | async"
        [value]="attendee"
      >
        {{ attendee }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>


  <!-- Attendies selection -->
  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>Attachments</mat-label>
    <div id="button-placement">
      <button mat-mini-fab color="primary" class="button" (click)="attachmentInput.click()">
        +
      </button>
    </div>

    <mat-chip-list #chipList aria-label="attachments selection">
      <mat-chip
        *ngFor="let attachment of attachments"
        [removable]="true"
        (removed)="removeAttachment(attachment)"
      >
        {{ attachment.name }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        #attachmentInput
        hidden="true"
        type="file"
        onclick="this.value=null"
        (change)="addAttachment($event)"/>
    </mat-chip-list>
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="submit()">
    Create Event
  </button>
</form>
