<mat-carousel
  timings="250ms ease-in"
  [autoplay]="true"
  color="#DC7633"
  maxWidth="auto"
  proportion="25"
  interval="5000"
  slides="4"
  [loop]="true"
  [hideArrows]="true"
  [hideIndicators]="true"
  [useKeyboard]="true"
  [useMouseWheel]="false"
  orientation="ltr"
>
  <mat-carousel-slide
    #matCarouselSlide
    *ngFor="let slide of slides; let i = index"
    [image]="slide.image"
    overlayColor="#00000080"
    [hideOverlay]="false"
  ></mat-carousel-slide>
</mat-carousel>

<div class="card-container">
  <div *ngFor="let event of events">
    <mat-card class="card" [routerLink]="['/events', event.id]">
      <div>
        <button mat-mini-fab class="card-buttons" color="primary">
          {{ getDate(event.startDateTime) }}
        </button>
        <span class="month">{{ getMonth(event.startDateTime) }}</span>
      </div>
      <strong>{{ event.name }}</strong>
      {{ getTime(event.startDateTime) }}
    </mat-card>
  </div>
  <a [routerLink]="'/events'"
    ><button class="button1" mat-raised-button>View All</button></a
  >
  <a [routerLink]="'/calendar'"
    ><button class="button1" mat-raised-button>Calendar</button></a
  >
</div>
