.card {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card:hover {
  background-color: #e2e2e2;
}

.card-container {
  padding-top: 30px;
  margin: auto;
  width: 50vw;
}

@media only screen and (max-width: 600px) {
  .card-container {
    width: 90vw;
  }
}

.button1 {
  margin: 1em 1em 1em 0;
}

.month {
  position: relative;
  right: 1.5em;
  font-weight: 800;
  color: #4056b5;
}

.card-buttons {
  margin-right: 30px;
}
