.card {
  margin-top: 20px;
  width: 100%;
}
.card-container {
  margin: auto;
  width: 50%;
  padding-top: 30px;
}

.button1 {
  margin: auto;
  margin-top: 30px;
  margin-right: 20px;
}
.button2 {
  margin: auto;
  margin-top: 30px;
}
.card-buttons {
  margin-right: 30px;
}
