<div class="table-container">
  <h1>Events</h1>
  <br />
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef>Location</th>
        <td mat-cell *matCellDef="let element">{{ element.location }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Category</th>
        <td mat-cell *matCellDef="let element">{{ element.category }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>

      <ng-container matColumnDef="startDateTime">
        <th mat-header-cell *matHeaderCellDef>startDateTime</th>
        <td mat-cell *matCellDef="let element">{{ element.startDateTime }}</td>
      </ng-container>

      <ng-container matColumnDef="endDateTime">
        <th mat-header-cell *matHeaderCellDef>endDateTime</th>
        <td mat-cell *matCellDef="let element">{{ element.endDateTime }}</td>
      </ng-container>

      <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef></th>
        <mat-cell *matCellDef="let row">
          <button mat-mini-fab class="button" color="primary">
            <mat-icon>more_horiz</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div class="paginator-container">
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</div>
