.example-card {
  max-width: 600px;
  min-width: 350px;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.center {
  position: relative;
  display: flex;
  justify-content: center;
}

app-reactions {
  position: absolute;
  right: 0;
  top: 10px;
}
